
# Expo
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files
# Metro
# Misc
# Native
# Swift Package Manager
# Xcode
# debug
# dependencies
# generated native folders
# local env files
# macOS
# typescript
**/.DS_Store
*.dSYM
*.dSYM.zip
*.hmap
*.ipa
*.jks
*.key
*.mobileprovision
*.moved-aside
*.orig.*
*.p12
*.p8
*.pem
*.tsbuildinfo
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/
*.xcuserdata/
*.xcuserstate
*.zip
.DS_Store
.build/
.env*.local
.expo/
.kotlin/
.metro-health-check*
/android
/ios
DerivedData/
Package.resolved
Packages/
build/
dist/
expo-env.d.ts
node_modules/
npm-debug.*
playground.xcworkspace
timeline.xctimeline
web-build/
yarn-debug.*
yarn-error.*
